기계학습 기말 대체 과제입니다
201921018 이준배

1. 데이터 
학번이 짝수로 끝나므로 wine_review.csv 데이터 파일로 과제를 진행하겠습니다.
wine_review.csv

In [59]:
# 데이터 읽
import pandas as pd

# CSV 파일 경로
file_path = 'wine_review.csv'

# CSV 파일 읽기
df = pd.read_csv(file_path)

# 데이터 확인
print(df)

                        id asins                 brand  \
0     AV13ClKCGV-KLJ3akN68   NaN                 Gallo
1     AV13CsvW-jtxr-f38AQO   NaN       Fresh Craft Co.
2     AV13CVI_glJLPUi8O7Po   NaN          1000 Stories
3     AV13CVI_glJLPUi8O7Po   NaN          1000 Stories
4     AV13CYL4-jtxr-f37_-t   NaN          Wine Cube153
...                    ...   ...                   ...
2885  AV654xcDYSSHbkXwoTj_   NaN  Vintage Wine Estates
2886  AV654xcDYSSHbkXwoTj_   NaN  Vintage Wine Estates
2887  AV654xcDYSSHbkXwoTj_   NaN  Vintage Wine Estates
2888  AV654xcDYSSHbkXwoTj_   NaN  Vintage Wine Estates
2889  AV654xcDYSSHbkXwoTj_   NaN  Vintage Wine Estates

                                             categories             dateAdded  \
0     Food & Beverage,Beverages,Wine, Beer & Liquor,...  2017-07-24T23:59:11Z
1     Food & Beverage,Beverages,Wine, Beer & Liquor,...  2017-07-24T23:59:42Z
2     Food & Beverage,Beverages,Wine, Beer & Liquor,...  2017-07-24T23:58:05Z
3     Food & Beverage,Beverages,Wine, Beer & Liquor,...  2017-07-24T23:58:05Z
4     Food & Beverage,Beverages,Wine, Beer & Liquor,...  2017-07-24T23:58:18Z
...                                                 ...                   ...
2885           Wine Shop,Kitchen and Food,View All Food  2017-09-25T16:31:30Z
2886           Wine Shop,Kitchen and Food,View All Food  2017-09-25T16:31:30Z
2887           Wine Shop,Kitchen and Food,View All Food  2017-09-25T16:31:30Z
2888           Wine Shop,Kitchen and Food,View All Food  2017-09-25T16:31:30Z
2889           Wine Shop,Kitchen and Food,View All Food  2017-09-25T16:31:30Z

               dateUpdated                                       descriptions  \
0     2018-01-10T18:06:28Z                                                NaN
1     2018-01-10T05:38:33Z  [{"dateSeen":["2017-12-21T05:43:00.000Z","2017...
2     2018-01-10T05:38:31Z                                                NaN
3     2018-01-10T05:38:31Z                                                NaN
4     2018-01-10T18:06:29Z  [{"dateSeen":["2017-12-21T05:43:00.000Z","2017...
...                    ...                                                ...
2885  2018-01-03T18:57:51Z  [{"dateSeen":["2017-12-10T09:34:00.000Z","2017...
2886  2018-01-03T18:57:51Z  [{"dateSeen":["2017-12-10T09:34:00.000Z","2017...
2887  2018-01-03T18:57:51Z  [{"dateSeen":["2017-12-10T09:34:00.000Z","2017...
2888  2018-01-03T18:57:51Z  [{"dateSeen":["2017-12-10T09:34:00.000Z","2017...
2889  2018-01-03T18:57:51Z  [{"dateSeen":["2017-12-10T09:34:00.000Z","2017...

                        dimension  ean flavors  ...  \
0        1.0 in x 1.0 in x 1.0 in  NaN     NaN  ...
1     4.25 in x 4.25 in x 5.25 in  NaN     NaN  ...
2      3.3 in x 3.3 in x 11.79 in  NaN     NaN  ...
3      3.3 in x 3.3 in x 11.79 in  NaN     NaN  ...
4        1.0 in x 1.0 in x 1.0 in  NaN     NaN  ...
...                           ...  ...     ...  ...
2885                          NaN  NaN     NaN  ...
2886                          NaN  NaN     NaN  ...
2887                          NaN  NaN     NaN  ...
2888                          NaN  NaN     NaN  ...
2889                          NaN  NaN     NaN  ...

                                     reviews.sourceURLs  \
0     https://redsky.target.com/groot-domain-api/v1/...
1     https://redsky.target.com/groot-domain-api/v1/...
2     https://redsky.target.com/groot-domain-api/v1/...
3     https://redsky.target.com/groot-domain-api/v1/...
4     https://redsky.target.com/groot-domain-api/v1/...
...                                                 ...
2885  http://qvc.ugc.bazaarvoice.com/1689wcs-en_us/M...
2886  http://qvc.ugc.bazaarvoice.com/1689wcs-en_us/M...
2887  http://qvc.ugc.bazaarvoice.com/1689wcs-en_us/M...
2888  http://qvc.ugc.bazaarvoice.com/1689wcs-en_us/M...
2889  http://qvc.ugc.bazaarvoice.com/1689wcs-en_us/M...

                                           reviews.text  \
0         This a fantastic white wine for any occasion!
1      Tart, not sweet...very refreshing and delicious!
2     I was given this wine so it was a delightful s...
3     This is a phenomenal wine and my new favorite ...
4     4 750ml bottles for the price of two With way ...
...                                                 ...
2885  I only like a sweet wine. I was skeptical on o...
2886  I ordered a 3 bottle set of both the Meritage ...
2887  I ordered the White Zinfadel in the 3 bottle s...
2888  This was my first purchase of these wines. Tri...
2889  I don't know why the negative reviews said the...

                             reviews.title reviews.userCity  \
0                   My Favorite White Wine              NaN
1                                    Yum!!              NaN
2                          A New Favorite!              NaN
3     Bold, Flavorful, Aromatic, Delicious              NaN
4     Yum! Plus, Environmentally Friendly!    Overland Park
...                                    ...              ...
2885                             Excellent              NaN
2886                          Delicious !!              NaN
2887             Sumptuous delicious wine.              NaN
2888                     Excellent Moscato              NaN
2889   O'Leary's Select Reserve Chardonnay              NaN

     reviews.userProvince reviews.username sizes  \
0                     NaN              Bjh   NaN
1                     NaN             Wino   NaN
2                     NaN         Bama Mom   NaN
3                     NaN           Av Dub   NaN
4                     NaN       Chelseamay   NaN
...                   ...              ...   ...
2885                  NaN         Cablegal   NaN
2886                  NaN        Rosie6583   NaN
2887                  NaN      Alexandrite   NaN
2888                  NaN       teddybear2   NaN
2889                  NaN        RightAway   NaN

                                             sourceURLs          upc    weight
0     http://redsky.target.com/v1/plp/search?kwr=y&c...   4.9213E+11   1.0 lbs
1     http://redsky.target.com/v1/plp/search?kwr=y&c...  83120003441  2.45 lbs
2     http://redsky.target.com/v1/plp/search?kwr=y&c...  82896001453  3.09 lbs
3     http://redsky.target.com/v1/plp/search?kwr=y&c...  82896001453  3.09 lbs
4     https://redsky.target.com/groot-domain-api/v1/...  85200600465   1.0 lbs
...                                                 ...          ...       ...
2885  http://www.qvc.com/Vintage-Wine-Estates-Kevin-...          NaN       NaN
2886  http://www.qvc.com/Vintage-Wine-Estates-Kevin-...          NaN       NaN
2887  http://www.qvc.com/Vintage-Wine-Estates-Kevin-...          NaN       NaN
2888  http://www.qvc.com/Vintage-Wine-Estates-Kevin-...          NaN       NaN
2889  http://www.qvc.com/Vintage-Wine-Estates-Kevin-...          NaN       NaN

[2890 rows x 32 columns]

데이터를 잘 읽은것을 볼 수 있습니다.
총 2890행과 32개의 열이 있는것을 알 수 있습니다. 
데이터중 5개만 읽어와 데이터가 어떠한 데이터인지 보겠습니다.

In [60]:
df.head()

,id,asins,brand,categories,dateAdded,dateUpdated,descriptions,dimension,ean,flavors,...,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,sourceURLs,upc,weight
0,AV13ClKCGV-KLJ3akN68,NaN,Gallo,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:11Z,2018-01-10T18:06:28Z,NaN,1.0 in x 1.0 in x 1.0 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,This a fantastic white wine for any occasion!,My Favorite White Wine,NaN,NaN,Bjh,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,4.9213E+11,1.0 lbs
1,AV13CsvW-jtxr-f38AQO,NaN,Fresh Craft Co.,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:42Z,2018-01-10T05:38:33Z,"[{""dateSeen"":[""2017-12-21T05:43:00.000Z"",""2017...",4.25 in x 4.25 in x 5.25 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,"Tart, not sweet...very refreshing and delicious!",Yum!!,NaN,NaN,Wino,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,83120003441,2.45 lbs
2,AV13CVI_glJLPUi8O7Po,NaN,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,NaN,3.3 in x 3.3 in x 11.79 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,I was given this wine so it was a delightful s...,A New Favorite!,NaN,NaN,Bama Mom,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,82896001453,3.09 lbs
3,AV13CVI_glJLPUi8O7Po,NaN,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,NaN,3.3 in x 3.3 in x 11.79 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,This is a phenomenal wine and my new favorite ...,"Bold, Flavorful, Aromatic, Delicious",NaN,NaN,Av Dub,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,82896001453,3.09 lbs
4,AV13CYL4-jtxr-f37_-t,NaN,Wine Cube153,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:18Z,2018-01-10T18:06:29Z,"[{""dateSeen"":[""2017-12-21T05:43:00.000Z"",""2017...",1.0 in x 1.0 in x 1.0 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,4 750ml bottles for the price of two With way ...,"Yum! Plus, Environmentally Friendly!",Overland Park,NaN,Chelseamay,NaN,https://redsky.target.com/groot-domain-api/v1/...,85200600465,1.0 lbs

2. 데이터 전처리

결측치가 많은 열들이 있는것을 볼 수 있습니다. 
결측치가 많은 열들을 제가하는 작업을 하겠습니다.

In [61]:
# 각 열별 결측값 수 합산하기
missing_counts = df.isnull().sum()
print(missing_counts)

id                         0
asins                   2020
brand                     65
categories                 0
dateAdded                  0
dateUpdated                0
descriptions             152
dimension               1052
ean                      724
flavors                 2739
keys                       0
manufacturer            2041
manufacturerNumber       433
name                       0
reviews.date             338
reviews.dateAdded          0
reviews.dateSeen           0
reviews.didPurchase      841
reviews.doRecommend      979
reviews.id              1005
reviews.numHelpful      2264
reviews.rating           445
reviews.sourceURLs         0
reviews.text               1
reviews.title             44
reviews.userCity        2808
reviews.userProvince    2881
reviews.username           2
sizes                   2868
sourceURLs                 0
upc                      147
weight                  1894
dtype: int64

In [62]:
# 결측값이 100개 이상인 열 선택
columns_to_drop = missing_counts[missing_counts >= 100].index.tolist()
print(columns_to_drop)

['asins', 'descriptions', 'dimension', 'ean', 'flavors', 'manufacturer', 'manufacturerNumber', 'reviews.date', 'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id', 'reviews.numHelpful', 'reviews.rating', 'reviews.userCity', 'reviews.userProvince', 'sizes', 'upc', 'weight']

In [63]:
# 결측값이 100개 이상인 열 제거
df = df.drop(columns=columns_to_drop)
df.head()

,id,brand,categories,dateAdded,dateUpdated,keys,name,reviews.dateAdded,reviews.dateSeen,reviews.sourceURLs,reviews.text,reviews.title,reviews.username,sourceURLs
0,AV13ClKCGV-KLJ3akN68,Gallo,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:11Z,2018-01-10T18:06:28Z,"492130001994,gallo/13312834",Ecco Domani174 Pinot Grigio - 750ml Bottle,2018-01-09T13:24:04Z,"2017-12-14T19:41:00.000Z,2017-12-19T19:55:00.0...",https://redsky.target.com/groot-domain-api/v1/...,This a fantastic white wine for any occasion!,My Favorite White Wine,Bjh,http://redsky.target.com/v1/plp/search?kwr=y&c...
1,AV13CsvW-jtxr-f38AQO,Fresh Craft Co.,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:42Z,2018-01-10T05:38:33Z,"freshcraft/50392800,083120003441",Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,2018-01-09T17:31:52Z,"2017-12-17T05:32:00.000Z,2017-12-21T14:32:00.0...",https://redsky.target.com/groot-domain-api/v1/...,"Tart, not sweet...very refreshing and delicious!",Yum!!,Wino,http://redsky.target.com/v1/plp/search?kwr=y&c...
2,AV13CVI_glJLPUi8O7Po,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,"082896001453,1000stories/50399893",1000 Stories174 Zinfandel - 750ml Bottle,2018-01-09T17:31:51Z,"2017-12-17T05:30:00.000Z,2017-12-21T14:29:00.0...",https://redsky.target.com/groot-domain-api/v1/...,I was given this wine so it was a delightful s...,A New Favorite!,Bama Mom,http://redsky.target.com/v1/plp/search?kwr=y&c...
3,AV13CVI_glJLPUi8O7Po,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,"082896001453,1000stories/50399893",1000 Stories174 Zinfandel - 750ml Bottle,2017-10-04T18:03:12Z,"2017-09-30T00:52:32.856Z,2017-08-08T10:33:31.6...",https://redsky.target.com/groot-domain-api/v1/...,This is a phenomenal wine and my new favorite ...,"Bold, Flavorful, Aromatic, Delicious",Av Dub,http://redsky.target.com/v1/plp/search?kwr=y&c...
4,AV13CYL4-jtxr-f37_-t,Wine Cube153,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:18Z,2018-01-10T18:06:29Z,"winecube153/14831433,085200600465",Pink Moscato - 3l Bottle - Wine Cube153,2018-01-10T18:06:29Z,"2017-12-16T09:19:00.000Z,2017-12-20T16:57:00.0...",https://redsky.target.com/groot-domain-api/v1/...,4 750ml bottles for the price of two With way ...,"Yum! Plus, Environmentally Friendly!",Chelseamay,https://redsky.target.com/groot-domain-api/v1/...

In [64]:
# 확인하기
missing_counts = df.isnull().sum()
print(missing_counts)

id                     0
brand                 65
categories             0
dateAdded              0
dateUpdated            0
keys                   0
name                   0
reviews.dateAdded      0
reviews.dateSeen       0
reviews.sourceURLs     0
reviews.text           1
reviews.title         44
reviews.username       2
sourceURLs             0
dtype: int64

다시 확인해보니 결측치가 100개 이상인 행은 없는것으로 보여집니다.

다음으로는 결측값이 있는 행을 제거하겠습니다.

In [65]:
df = df.dropna(axis=0)
missing_counts = df.isnull().sum()
print(missing_counts)

id                    0
brand                 0
categories            0
dateAdded             0
dateUpdated           0
keys                  0
name                  0
reviews.dateAdded     0
reviews.dateSeen      0
reviews.sourceURLs    0
reviews.text          0
reviews.title         0
reviews.username      0
sourceURLs            0
dtype: int64

잘 실행된것을 볼 수 있습니다.
다음으로는 필요한 열들만 추출하겠습니다.

In [66]:
column_names = df.columns.tolist()
print(column_names)

['id', 'brand', 'categories', 'dateAdded', 'dateUpdated', 'keys', 'name', 'reviews.dateAdded', 'reviews.dateSeen', 'reviews.sourceURLs', 'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs']

name, reviews.text,reviews.title가 필요할거 같으니 이 열들만 추출하겠습니다.

In [67]:
df = df[['name', 'reviews.text', 'reviews.title']]
df.head()

,name,reviews.text,reviews.title
0,Ecco Domani174 Pinot Grigio - 750ml Bottle,This a fantastic white wine for any occasion!,My Favorite White Wine
1,Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,"Tart, not sweet...very refreshing and delicious!",Yum!!
2,1000 Stories174 Zinfandel - 750ml Bottle,I was given this wine so it was a delightful s...,A New Favorite!
3,1000 Stories174 Zinfandel - 750ml Bottle,This is a phenomenal wine and my new favorite ...,"Bold, Flavorful, Aromatic, Delicious"
4,Pink Moscato - 3l Bottle - Wine Cube153,4 750ml bottles for the price of two With way ...,"Yum! Plus, Environmentally Friendly!"

다음으로는 노이즈제거를 하겠습니다.

In [68]:
import re
# 노이즈 제거 함수 정의
def clean_text(text):
    # 소문자 변환
    text = text.lower()
    # 특수문자 제거
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    return text

# reviews.text와 reviews.title 열에 clean_text 함수 적용
df['reviews.text'] = df['reviews.text'].apply(clean_text)
df['reviews.title'] = df['reviews.title'].apply(clean_text)

In [69]:
df.head()

,name,reviews.text,reviews.title
0,Ecco Domani174 Pinot Grigio - 750ml Bottle,this a fantastic white wine for any occasion,my favorite white wine
1,Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,tart not sweetvery refreshing and delicious,yum
2,1000 Stories174 Zinfandel - 750ml Bottle,i was given this wine so it was a delightful s...,a new favorite
3,1000 Stories174 Zinfandel - 750ml Bottle,this is a phenomenal wine and my new favorite red,bold flavorful aromatic delicious
4,Pink Moscato - 3l Bottle - Wine Cube153,ml bottles for the price of two with way less...,yum plus environmentally friendly

reviews.text와 reviews.title에 대문자가 소문자로 바뀌고 특수문자가 없어졌음을 알 수 있습니다.

다음은 불용어 제거 입니다. 
nltk 라이브러리의 stopwords 불용어들을 활용해 제거하겠습니다.

In [70]:
! pip install nltk
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

# 영어의 불용어를 가져와 cache에 저장
cache = set(stopwords.words("english"))

# 불용어 제거 함수 정의
def remove_stopwords(review):
    text = " ".join([word for word in review.split() if word not in cache])
    return text

# reviews.text와 reviews.title에 remove_stopwords 함수 적용
df['reviews.text'] = df['reviews.text'].apply(remove_stopwords)   
df['reviews.title'] = df['reviews.title'].apply(remove_stopwords)

Requirement already satisfied: nltk in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /home/codespace/.local/lib/python3.10/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (4.66.4)

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [71]:
df.head()

,name,reviews.text,reviews.title
0,Ecco Domani174 Pinot Grigio - 750ml Bottle,fantastic white wine occasion,favorite white wine
1,Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,tart sweetvery refreshing delicious,yum
2,1000 Stories174 Zinfandel - 750ml Bottle,given wine delightful surprise find flavorful ...,new favorite
3,1000 Stories174 Zinfandel - 750ml Bottle,phenomenal wine new favorite red,bold flavorful aromatic delicious
4,Pink Moscato - 3l Bottle - Wine Cube153,ml bottles price two way less packaging yes pl...,yum plus environmentally friendly

첫번째 review.text에서는 this a 센번째 review.text에선 i was 등과 같은 단어들이 사라진것을 볼 수 있습니다.

다음으로는 토큰화 입니다. 
토큰화는 주어진 텍스트를 작은 단위로 나누는 작업입니다.

In [72]:
from nltk.tokenize import word_tokenize

# 토큰화에 필요한 NLTK 데이터 파일 다운로드
nltk.download('punkt')

# 토큰화 함수 정의
def tokenize(text):
    tokens = word_tokenize(text)  # 토큰화
    return tokens

# reviews.text와 reviews.title에 tokenize 함수 적용
df['reviews.text'] = df['reviews.text'].apply(tokenize)   
df['reviews.title'] = df['reviews.title'].apply(tokenize)

[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [73]:
df.head()

,name,reviews.text,reviews.title
0,Ecco Domani174 Pinot Grigio - 750ml Bottle,"[fantastic, white, wine, occasion]","[favorite, white, wine]"
1,Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,"[tart, sweetvery, refreshing, delicious]",[yum]
2,1000 Stories174 Zinfandel - 750ml Bottle,"[given, wine, delightful, surprise, find, flav...","[new, favorite]"
3,1000 Stories174 Zinfandel - 750ml Bottle,"[phenomenal, wine, new, favorite, red]","[bold, flavorful, aromatic, delicious]"
4,Pink Moscato - 3l Bottle - Wine Cube153,"[ml, bottles, price, two, way, less, packaging...","[yum, plus, environmentally, friendly]"

토큰화까지 잘 된것을 볼 수 있습니다.

표제어 추출하기 입니다.
영어 단어의 원형을 변환하는 작업입니다. 예를들어 am, are is를 원형인 be로 바꿔주는 작업입니다.

In [74]:
from nltk.stem import WordNetLemmatizer
# 표제어 추출에 필요한 NLTK 데이터 파일 다운로드
nltk.download('wordnet')
# 표제어 추출 함수 정의
def lemmatize(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

# reviews.text와 reviews.title에 lemmatize 함수 적용
df['reviews.text'] = df['reviews.text'].apply(lemmatize)   
df['reviews.title'] = df['reviews.title'].apply(lemmatize)

[nltk_data] Downloading package wordnet to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [75]:
df.head()

,name,reviews.text,reviews.title
0,Ecco Domani174 Pinot Grigio - 750ml Bottle,"[fantastic, white, wine, occasion]","[favorite, white, wine]"
1,Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,"[tart, sweetvery, refreshing, delicious]",[yum]
2,1000 Stories174 Zinfandel - 750ml Bottle,"[given, wine, delightful, surprise, find, flav...","[new, favorite]"
3,1000 Stories174 Zinfandel - 750ml Bottle,"[phenomenal, wine, new, favorite, red]","[bold, flavorful, aromatic, delicious]"
4,Pink Moscato - 3l Bottle - Wine Cube153,"[ml, bottle, price, two, way, le, packaging, y...","[yum, plus, environmentally, friendly]"

다음으로는 스테밍 작업입니다.
스테밍이란 단어의 어간을 추출하는 작업입니다. 예를들어 running, runs, runner와 같은 단어를 run으로 바꾸는 작업입니다.

In [76]:
from nltk.stem import PorterStemmer
# 스테밍에 필요한 NLTK 데이터 파일 다운로드
nltk.download('punkt')
# 스테밍 함수 정의
def stemming(tokens):
    stemmer = PorterStemmer()
    return [stemmer.stem(token) for token in tokens]

# reviews.text와 reviews.title에 stemming 함수 적용
df['reviews.text'] = df['reviews.text'].apply(stemming)   
df['reviews.title'] = df['reviews.title'].apply(stemming)

[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [77]:
df.head()

,name,reviews.text,reviews.title
0,Ecco Domani174 Pinot Grigio - 750ml Bottle,"[fantast, white, wine, occas]","[favorit, white, wine]"
1,Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,"[tart, sweetveri, refresh, delici]",[yum]
2,1000 Stories174 Zinfandel - 750ml Bottle,"[given, wine, delight, surpris, find, flavor, ...","[new, favorit]"
3,1000 Stories174 Zinfandel - 750ml Bottle,"[phenomen, wine, new, favorit, red]","[bold, flavor, aromat, delici]"
4,Pink Moscato - 3l Bottle - Wine Cube153,"[ml, bottl, price, two, way, le, packag, ye, p...","[yum, plu, environment, friendli]"

표제어 추출과 스테밍까지 잘 작업된것을 볼 수 있습니다.

3. 모델 구현

모델은 실습에 사용된 nltk에 있는 vader_lexicon를 사용하겠습니다.

In [79]:
print(df.dtypes)

name             object
reviews.text     object
reviews.title    object
dtype: object

In [90]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
# 감성 분석에 필요한 NLTK 데이터 파일 다운로드
nltk.download('vader_lexicon')

# VADER 감정 분석기 초기화
vader_sentiment = SentimentIntensityAnalyzer()

# 감정 계산 함수 정의
def calc_sentiment(review): 
    review_text = ' '.join(review)  # 리스트를 문자열로 변환(토큰화를 하여 리스트로 넘겨주게 됩니다.)
    return vader_sentiment.polarity_scores(review_text)["compound"] # 리뷰가 텍스트인 경우 VADER 감정 분석기를 사용하여 감정 점수(컴파운드 스코어)를 계산하고 반환

# 감정 점수 계산 및 데이터프레임에 추가
# reviews.text와 reviews.title에 calc_sentiment 함수 적용 후 결과를 df에 추가 한다.
df['reviews.text_Sentiment_Score'] = df['reviews.text'].apply(calc_sentiment)
df['reviews.title_Sentiment_Score'] = df['reviews.title'].apply(calc_sentiment)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [91]:
df.head()

,name,reviews.text,reviews.title,Sentiment_Score,reviews.text_Sentiment_Score,reviews.title_Sentiment_Score
0,Ecco Domani174 Pinot Grigio - 750ml Bottle,"[fantast, white, wine, occas]","[favorit, white, wine]",0.0000,0.0000,0.0000
1,Fresh Craft174 Mango Citrus - 4pk / 250ml Bottle,"[tart, sweetveri, refresh, delici]",[yum],0.0000,0.0000,0.0000
2,1000 Stories174 Zinfandel - 750ml Bottle,"[given, wine, delight, surpris, find, flavor, ...","[new, favorit]",0.0000,0.5994,0.0000
3,1000 Stories174 Zinfandel - 750ml Bottle,"[phenomen, wine, new, favorit, red]","[bold, flavor, aromat, delici]",0.3818,0.0000,0.3818
4,Pink Moscato - 3l Bottle - Wine Cube153,"[ml, bottl, price, two, way, le, packag, ye, p...","[yum, plu, environment, friendli]",0.0000,0.6694,0.0000